body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.map {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.queryInfo {
    margin: 10px;
    background-color: white;
    padding: 8px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

#queryInfoText {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #333;
}

.menuColumn {
    margin: 10px;
    background-color: #DDD;
    color: black;
    border-radius: 3px;
    height: 100%;
}

.menuColumn .categoryName {
    border-radius: 3px;
    background-color: #0074d9;
    color: white;
    position: relative;
    top: 0;
    width: 100%;
    height: 40px;
}

.menuColumn .categoryName .titleText{
    width:100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.menuHeader{
    margin: 10px;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 3px;
    background-color: white;
}

.menuHeaderLabel{
    padding: 5px;
    border-radius: 3px;
    background-color: #0074d9;
    text-align: center;
    color:white;
    font-weight: bold;
    cursor: pointer;
}


.checkboxConstraintLabel{
    padding: 5px;
    border-radius: 3px;
    background-color: #0074d9;
    text-align: left;
    color:white;
}

.checkboxConstraintContainer{
    padding: 5px;
}


.menuHeaderContainer{
    padding: 5px;
}

.layerContainer{
    background-color: #DDD;
    margin: 5px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 3px;
    cursor: default;
}

.layerSelector{
    font-weight: bold;
    color:white;
    background-color: #42b33e;
    padding: 5px;
    border-radius: 3px;
}

.layerConstraints{
    padding: 10px;
}

.checkboxContainer{
    background-color: white;
    border-radius: 3px;
    margin-bottom: 15px;
}

.sliderContainer{
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
}

.dropdown{
    height: 18px;
    width: 18px;
    float: right;
    margin-right: 7px;
}

.collapsible, .attributionContainer, #clearFeatures {
    background-color: #DDD;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    margin-top: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

#clearFeatures {
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 15px;
    text-align: left;
    outline: none;
}

.attributionContainer .attribution {
    display: none;
    font-size: 12px;
    overflow-wrap: break-word;
}

.attributionContainer .clickableAttr {
    text-decoration: none;
    font-size: 15px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.leaflet-fade-anim .leaflet-tile, .leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: auto !important;
}