body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.map {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.queryInfo {
    margin: 10px;
    background-color: white;
    padding: 8px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

#queryInfoText {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #333;
}

#main {
  position: absolute;
  z-index: 2000;
  padding: 16px;
}

.sidebar {
  background-color: #f1f1f1;
  opacity: 0.85;
  z-index: 2001;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.7s;
  max-width: 870px;
}

.sidebar a {
  color: #212121;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 19px;
  display: block;
  transition: 0.3s;
}

.nav-tabs {
  top: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px;
}

.menuColumn {
    background-color: #f1f1f1;
    color: #111;
    height: 100%;
    margin: 2px;
}

.menuColumn .categoryName {
    background-color: #f1f1f1;
    color: #111;
    position: relative;
    top: 0;
    width: 100%;
    height: 40px;
}

.menuColumn .categoryName .titleText{
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding: 5px;
    width:100%;
    font-size: 22px;
}

.menuHeader{
    padding: 10px;
    background-color: #f1f1f1;
}

.menuHeaderLabel{
    border-bottom-style: dashed;
    border-bottom-width: thin;
    padding-top: 10px;
    font-size: 18px;
    background-color: #f1f1f1;
    color: #111;
    cursor: pointer;
}

.content-section {
  background-color: #fbfbfb;
  color: #414141;
  transition: 0.5s;
  margin: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  max-height: 18vh;
  overflow-y: auto;
}

.slider-individual {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.slider-section {
  padding: 10px;
}

.slider-title {
  font-size: 15px;
  text-align: left;
  padding-bottom: 5px;
}

.checkbox-section {
  padding-left: 10px;
  padding-right: 10px;
}

.checkbox-section-label {
  font-size: 17px;
  text-align: left;
  padding-bottom: 5px;
  padding-top: 3px;
  padding-left: 10px;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.checkbox-section-options {
  padding: 10px;
  font-size: 14px;
  text-align: left;
}

.checkbox-section-title {
  padding-left: 8px;
}

.modal-popout {
  padding: 10px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.checkboxConstraintLabel{
    padding: 5px;
    background-color: #0074d9;
    text-align: left;
    color:white;
}

.checkboxConstraintContainer{
    padding: 5px;
    padding-bottom: 2px;
}


.menuHeaderContainer{
    padding: 5px;
}

.layerContainer{
    background-color: #ddd;
    margin: 5px;
    padding: 0;
    cursor: default;
}

.layerSelector{
    color: #111;
    background-color: #f1f1f1;
    padding: 8px;
}

.layerConstraints{
    overflow-y: auto;
    max-height: 45vh;
    padding: 10px;
    background-color: #ffffff;
}

.checkboxContainer{
    background-color: white;
    border-radius: 3px;
    margin-bottom: 15px;
}

.sliderContainer{
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
}

.checkbox-for-layer {
    float: right;
    margin-top: 5px;
}

.dropdown-arrow {
    cursor: pointer;
    margin-left: 5px;
    height: 18px;
    width: 18px;
}

.collapsible, .attributionContainer, #clearFeatures {
    background-color: #DDD;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    margin-top: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

#clearFeatures {
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 15px;
    text-align: left;
    outline: none;
}

.attributionContainer .attribution {
    display: none;
    font-size: 12px;
    overflow-wrap: break-word;
}

.attributionContainer .clickableAttr {
    text-decoration: none;
    font-size: 15px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.editConstraints{
    opacity: 0.85;
    position: absolute;
    top:12.5%;
    right:12.5%;
    border: 1px solid #dddddd;
    border-radius: 6px;
    background-color: #f8f8f8;
    z-index: 9999;
    padding: 10px;
    max-width: 40vw;
    max-height: 60vh;
    min-width: 20vw;
}

.editConstraintsHeader{
    top:0;
    padding: 10px;
    color: #111;
    font-size: 20px;
    width: 100%;
}

.editConstraintArea {
    overflow: auto;
    max-height: 40vh;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: #f1f1f1;
}

.editConstraintsConstraint{
    padding: 1px;
    padding-left: 20px;
}


.saveAndCloseConstraints{
    bottom: 25px;
    left: 85%;
    position: sticky;

}

.constraintCloseButton {
  padding: 10px;
}

.constraintCheckbox {
}

.leaflet-fade-anim .leaflet-tile, .leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: auto !important;
}

.tool-tip {
    cursor: pointer;
    height: 18px;
    width: 18px;
    float: right;
    margin-top: 2px;
    margin-right: 15px;
}

.graph-pic {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 15px;
  margin-left: 30px;
}

.graph-button-pic {
  height: 25px;
  width: 25px;
}

.close-button-pic {
  height: 25px;
  width: 25px;
}