
body {
  font-family: "Lato", sans-serif;
  background-image: url('/static/images/map.png')
}

.sidebar {
  background-color: #f1f1f1;
  opacity: 0.8;
  z-index: 2001;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  color: #212121;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 19px;
  display: block;
  transition: 0.3s;
}

.custom-nav {
  position: absolute;
  top: 0;
  margin-top: 13px;
}

.sidebar-header {
  color: #111;
  transition: 0.5s;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 23px;
  display: block;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.sidebar-dropdown {
  color: #212121;
  transition: 0.5s;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 19px;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar-dropdown:hover {
  color: #111;
}

.toggle-box {
  margin-right: 10px;
}

.card-body {
  background-color: #ffffff;
  transition: 0.5s;
  padding: 8px 8px 8px 32px;
  font-size: 17px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #dddddd;
}

.content-section {
  background-color: #fbfbfb;
  color: #414141;
  transition: 0.5s;
  margin: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  max-height: 15vh;
  overflow-y: auto;
}

.slider-section {
  padding: 20px;
}

.slider-title {
  font-size: 15px;
  text-align: left;
  padding-bottom: 5px;
}

.checkbox-section {
  padding: 10px;
}

.checkbox-section-label {
  font-size: 17px;
  text-align: left;
  padding-bottom: 5px;
  padding-top: 2px;
  padding-left: 10px;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.checkbox-section-options {
  padding: 10px;
  font-size: 14px;
  text-align: left;
}

.checkbox-section-title {
  padding-left: 8px;
}

.modal-content {
  background-color: #f8f8f8
}

.modal-header {
  color: #515151;
}

.modal-body {
  color: #414141;
}

.modal-popout {
  padding: 10px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  position: absolute;
  z-index: 2000;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
